:root {
  --index: calc(1vw + 1vh);
  --white: #fff;
  --black: #01011F;
  --brand-blue: #4870ff;
  --brand-pink: #fa00ff;
  --brand-gradient: linear-gradient(216deg, var(--brand-blue) 0%, var(--brand-pink) 100%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('ProximaNova-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('ProximaNova-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.burger {
  display: none;
}

.header {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  gap: 36px;
  padding: 14px calc(50% - 520px);

  &__container {
    display: flex;
  }

  &__info {
    display: flex;
    gap: 64px;
  }

  &__logo {
    width: 48px;
    height: 48px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  &__items {
    text-decoration: none;
    color: var(--white);
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 16px;

    // background: linear-gradient(to right, transparent, transparent), var(--brand-gradient);
    // background-size: 100% 3px, 0 3px;
    // background-position: 100% 100%, 0 100%;
    // background-repeat: no-repeat;
    // transition: background-size 400ms;
    
    &:hover {
//      background-size: 0 3px, 100% 3px;
      text-decoration: underline;
      text-underline-offset: 25px;
      text-decoration-thickness: 4px;
      text-underline-position: under;
    }
  }

  &__signup {
    display: flex;
    align-items: center;
    gap: 27px;
  }

  &__text {
    text-decoration: none;
    color: var(--white);
    font-family: 'Proxima Nova Bold', sans-serif;
  }

  &__button {
    border-radius: 8px;
    border: none;
    width: 114px;
    height: 40px;
    box-shadow: 0 4px 16px 9 rgba(138, 97, 255, 0.6);
    background: var(--brand-gradient);
    color: var(--white);
    font-family: 'Proxima Nova Bold', sans-serif;
    background-size: 300% 100%;
    cursor: pointer;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, var(--brand-pink), var(--brand-blue), var(--brand-blue), var(--brand-pink));

    &:hover {
      background-position: 100% 0;
      transition: all .4s ease-in-out;
    }

    &:focus {
      outline: none;
    }

  }
}

.main {
  &__hero {
    background: linear-gradient(to bottom, transparent, var(--black)),
      url(../img/bg_hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__top {
    padding-left: calc(50% - 305px);
    padding-right: calc(50% - 305px);
  }

  &__heading {
    text-align: center;
    padding-top: 54px;
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--white);
    padding-bottom: 8px;
  }

  &__slogan {
    text-align: center;
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 28px;
    text-transform: capitalize;
    color: var(--white);
    padding-bottom: 24px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 59px;
  }

  &__form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #3a4054;
    border-radius: 16px;
    width: 864px;
    height: 150px;
    backdrop-filter: blur(10px);
    background: linear-gradient(225deg, rgba(79, 89, 124, 0.4) 0%, rgba(123, 135, 175, 0.4) 50.52%, rgba(63, 72, 105, 0.4) 100%);
    padding: 16px;
    box-sizing: border-box;
  }

  &__account {
    color: var(--white);
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
  }

}

.button {

  &__login {
    border: 2px solid #fff;
    border-radius: 8px;
    width: 160px;
    height: 44px;
    background: transparent;
    color: var(--white);
    box-shadow: 0 4px 16px 0 rgba(138, 97, 255, 0.6);
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 18px;

    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: var(--white);
      color: var(--black);
    }
  }

  &__play {
    border-radius: 8px;
    border: none;
    width: 160px;
    height: 44px;
    box-shadow: 0 4px 16px 0 rgba(138, 97, 255, 0.6);
    background: var(--brand-gradient);
    color: var(--white);
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 18px;

    background-size: 300% 100%;
    cursor: pointer;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, var(--brand-pink), var(--brand-blue), var(--brand-blue), var(--brand-pink));

    &:hover {
      background-position: 100% 0;
      transition: all .4s ease-in-out;
    }

    &:focus {
      outline: none;
    }

  }


  &__join {
    border-radius: 8px;
    border: none;
    width: 160px;
    height: 44px;
    box-shadow: 0 4px 16px 0 rgba(138, 97, 255, 0.6);
    background: var(--brand-gradient);
    color: var(--white);
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 18px;

    background-size: 300% 100%;
    cursor: pointer;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, var(--brand-pink), var(--brand-blue), var(--brand-blue), var(--brand-pink));

    &:hover {
      background-position: 100% 0;
      transition: all .4s ease-in-out;
    }

    &:focus {
      outline: none;
    }

  }
}

.form {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__desc {
    display: flex;
    gap: 24px;
  }

  &__about {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--white);
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 12px;
    text-align: left;
    text-transform: capitalize;
  }

  &__img {
    width: 36px;
    height: 36px;
  }

  &__middle {
    display: flex;
    gap: 16px;
  }

  &__input {
    width: 212px;
    height: 44px;
    border-radius: 8px;
    border: none;
    box-sizing: content-box;
    color: gray;
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
    padding-left: 13px;

    &::placeholder {
      color: gray;
      font-family: 'Proxima Nova Regular', sans-serif;
      font-size: 16px;
    }
  }

  &__privacy {
    display: flex;
    gap: 8px;
  }

  &__acception {
    color: var(--white);
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    &+label::before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      flex-grow: 0;
      background-color: var(--white);
      border-radius: 2px;
      margin-right: 0.5em;
    }

    &:checked+label::before {
      border-color: var(--brand-blue);
      background-color: var(--brand-blue);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    &:not(:disabled):not(:checked)+label:hover::before {
      border-color: #b3d7ff;
    }

    &:not(:disabled):active+label::before {
      background-color: #b3d7ff;
      border-color: #b3d7ff;
    }

    &:focus+label::before {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    &:focus:not(:checked)+label::before {
      border-color: #80bdff;
    }

    &:disabled+label::before {
      background-color: var(--white);
    }
  }

}

.email {
  width: 230px;
}

.center {
  &__wrapper {
    padding: 0 calc(50% - 520px);
    height: 900px;
    background-image: linear-gradient(to bottom, transparent, #01011f8e), url(../img/bg_contact.jpeg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__block {
    padding: 54px calc(50% - 520px) 24px calc(50% - 520px);
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__heading {
    color: var(--white);
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 36px;
    text-align: left;
    text-transform: capitalize;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__welcome {
    color: var(--white);
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
    text-align: center;
  }

  &__link {
    color: var(--white);
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
    text-align: left;
    text-decoration-line: underline;
  }

  &__space {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
  }


  &__attention {
    color: var(--white);
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 14px;
    padding-top: 24px;
    max-width: 450px;
  }

}

.div1,
.div2,
.div3 {
  display: flex;
  gap: 16px;
}

.div4,
.div5 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.game {
  &__img {
    width: 160px;
    height: 120px;
    border-radius: 16px;
    padding-bottom: 6px;
  }

  &__title {
    color: var(--white);
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 16px;
  }

  &__dev {
    color: gray;
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 12px;
  }

  &__desc {
    color: var(--white);
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 10px;
    width: 162px;
    padding-bottom: 16px;
  }

  &__big {
    &-1 {
      width: 248px;
      height: 160px;
      border-radius: 16px;
      background-image: url('../img/DynamiteRichesMW_BigWin_385x190.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 16px 12px;
      box-sizing: border-box;
    }

    &-2 {
      width: 248px;
      height: 160px;
      border-radius: 16px;
      background-image: url('../img/GOTM_GatorGold_385x190.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 16px 12px;
      box-sizing: border-box;
    }

    &-button {
      border-radius: 12px;
      border: none;
      background: var(--brand-blue);
      color: var(--white);
      font-family: 'Proxima Nova Regular', sans-serif;
      font-size: 10px;
      padding: 5px 13px;
      cursor: pointer;
      transition: all .4s ease-in-out;

      &:hover {
        background-color: var(--brand-pink);
      }

    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slogans {
    display: flex;
    flex-direction: column;

  }

  &__promo-img {
    border-radius: 16px;
    width: 512px;
    height: 120px;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;

  &__block {
    display: flex;
    flex-direction: column;
    padding-top: 57px;
  }

  &__title {
    color: rgb(255, 255, 255);
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 36px;
    text-transform: capitalize;
  }

  &__info {
    color: var(--white);
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 25px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 11px;
  }

  &__button {
    width: 124px;
    height: 36px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 16px 0 rgba(138, 97, 255, 0.6);
    background: var(--brand-gradient);
    color: var(--white);
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 18px;

    background-size: 300% 100%;
    cursor: pointer;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, var(--brand-pink), var(--brand-blue), var(--brand-blue), var(--brand-pink));

    &:hover {
      background-position: 100% 0;
      transition: all .4s ease-in-out;
    }

    &:focus {
      outline: none;
    }

  }

}

.input {

  &__name,
  &__email {
    width: 400px;
    height: 44px;
    border-radius: 8px;
    border: none;
    box-sizing: content-box;
    color: gray;
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
    padding-left: 13px;

    &::placeholder {
      color: gray;
      font-family: 'Proxima Nova Regular', sans-serif;
      font-size: 16px;
    }
  }

  &__textarea {
    width: 413px;
    height: 128px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    color: gray;
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
    padding: 13px;

    &::placeholder {
      color: gray;
      font-family: 'Proxima Nova Regular', sans-serif;
      font-size: 16px;
    }
  }


}


.footer {
  background-color: var(--black);
  padding: 14px calc(50% - 520px);

  &__links {
    color: var(--white);
    text-decoration: none;
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-bottom: 17px;
  }

  &__attention {
    color: var(--white);
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 14px;
    text-align: center;
  }

  &__line {
    margin: 24px 0;
    background: var(--white);
    opacity: 0.1;
    height: 1px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    color: var(--white);
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 14px;
  }

  &__medias {
    display: flex;
    gap: 13px;
  }

}

@import 'tablet';
@import 'mobile';