:root {
  --index: calc(1vw + 1vh);
  --white: #fff;
  --black: #01011F;
  --brand-blue: #4870ff;
  --brand-pink: #fa00ff;
  --brand-gradient: linear-gradient(216deg, var(--brand-blue) 0%, var(--brand-pink) 100%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.loader {
  background: var(--black);
  text-align: center;
  padding-top: 300px;
  height: 100vh;

}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.burger {
  display: none;
}

.header {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  gap: 36px;
  padding: 14px calc(50% - 520px);
}

.header__container {
  display: flex;
}

.header__info {
  display: flex;
  gap: 64px;
}

.header__logo {
  width: 48px;
  height: 48px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 36px;
}

.header__items {
  text-decoration: none;
  color: var(--white);
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 16px;
}

.header__items:hover {
  text-decoration: underline;
  text-underline-offset: 25px;
  text-decoration-thickness: 4px;
  text-underline-position: under;
}

.header__signup {
  display: flex;
  align-items: center;
  gap: 27px;
}

.header__text {
  text-decoration: none;
  color: var(--white);
  font-family: "Proxima Nova Bold", sans-serif;
}

.header__button {
  border-radius: 8px;
  border: none;
  width: 114px;
  height: 40px;
  box-shadow: 0 4px 16px 9 rgba(138, 97, 255, 0.6);
  background: var(--brand-gradient);
  color: var(--white);
  font-family: "Proxima Nova Bold", sans-serif;
  background-size: 300% 100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, var(--brand-pink), var(--brand-blue), var(--brand-blue), var(--brand-pink));
}

.header__button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.header__button:focus {
  outline: none;
}

.main__hero {
  background: linear-gradient(to bottom, transparent, var(--black)), url(../img/bg_hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__top {
  padding-left: calc(50% - 305px);
  padding-right: calc(50% - 305px);
}

.main__heading {
  text-align: center;
  padding-top: 54px;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 8px;
}

.main__slogan {
  text-align: center;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 28px;
  text-transform: capitalize;
  color: var(--white);
  padding-bottom: 24px;
}

.main__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 59px;
}

.main__form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #3a4054;
  border-radius: 16px;
  width: 864px;
  height: 150px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: linear-gradient(225deg, rgba(79, 89, 124, 0.4) 0%, rgba(123, 135, 175, 0.4) 50.52%, rgba(63, 72, 105, 0.4) 100%);
  padding: 16px;
  box-sizing: border-box;
}

.main__account {
  color: var(--white);
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}

.button__login {
  border: 2px solid #fff;
  border-radius: 8px;
  width: 160px;
  height: 44px;
  background: transparent;
  color: var(--white);
  box-shadow: 0 4px 16px 0 rgba(138, 97, 255, 0.6);
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button__login:hover {
  background-color: var(--white);
  color: var(--black);
}

.button__play {
  border-radius: 8px;
  border: none;
  width: 160px;
  height: 44px;
  box-shadow: 0 4px 16px 0 rgba(138, 97, 255, 0.6);
  background: var(--brand-gradient);
  color: var(--white);
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 18px;
  background-size: 300% 100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, var(--brand-pink), var(--brand-blue), var(--brand-blue), var(--brand-pink));
}

.button__play:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.button__play:focus {
  outline: none;
}

.button__join {
  border-radius: 8px;
  border: none;
  width: 160px;
  height: 44px;
  box-shadow: 0 4px 16px 0 rgba(138, 97, 255, 0.6);
  background: var(--brand-gradient);
  color: var(--white);
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 18px;
  background-size: 300% 100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, var(--brand-pink), var(--brand-blue), var(--brand-blue), var(--brand-pink));
}

.button__join:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.button__join:focus {
  outline: none;
}

.form__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__desc {
  display: flex;
  gap: 24px;
}

.form__about {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--white);
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 12px;
  text-align: left;
  text-transform: capitalize;
}

.form__img {
  width: 36px;
  height: 36px;
}

.form__middle {
  display: flex;
  gap: 16px;
}

.form__input {
  width: 212px;
  height: 44px;
  border-radius: 8px;
  border: none;
  box-sizing: content-box;
  color: gray;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
  padding-left: 13px;
}

.form__input::-moz-placeholder {
  color: gray;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
}

.form__input::placeholder {
  color: gray;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
}

.form__privacy {
  display: flex;
  gap: 8px;
}

.form__acception {
  color: var(--white);
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox+label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.form__checkbox+label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: var(--white);
  border-radius: 2px;
  margin-right: 0.5em;
}

.form__checkbox:checked+label::before {
  border-color: var(--brand-blue);
  background-color: var(--brand-blue);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.form__checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

.form__checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.form__checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form__checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.form__checkbox:disabled+label::before {
  background-color: var(--white);
}

.email {
  width: 230px;
}

.center__wrapper {
  padding: 0 calc(50% - 520px);
  height: 900px;
  background-image: linear-gradient(to bottom, transparent, rgba(1, 1, 31, 0.5568627451)), url(../img/bg_contact.jpeg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.center__block {
  padding: 54px calc(50% - 520px) 24px calc(50% - 520px);
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.center__heading {
  color: var(--white);
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 36px;
  text-align: left;
  text-transform: capitalize;
}

.center__title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.center__welcome {
  color: var(--white);
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
  text-align: center;
}

.center__link {
  color: var(--white);
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
  text-align: left;
  text-decoration-line: underline;
}

.center__space {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
  column-gap: 16px;
}

.center__attention {
  color: var(--white);
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  padding-top: 24px;
  max-width: 450px;
}

.div1,
.div2,
.div3 {
  display: flex;
  gap: 16px;
}

.div4,
.div5 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.game__img {
  width: 160px;
  height: 120px;
  border-radius: 16px;
  padding-bottom: 6px;
}

.game__title {
  color: var(--white);
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 16px;
}

.game__dev {
  color: gray;
  font-family: "Proxima Nova Light", sans-serif;
  font-size: 12px;
}

.game__desc {
  color: var(--white);
  font-family: "Proxima Nova Light", sans-serif;
  font-size: 10px;
  width: 162px;
  padding-bottom: 16px;
}

.game__big-1 {
  width: 248px;
  height: 160px;
  border-radius: 16px;
  background-image: url("../img/DynamiteRichesMW_BigWin_385x190.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 16px 12px;
  box-sizing: border-box;
}

.game__big-2 {
  width: 248px;
  height: 160px;
  border-radius: 16px;
  background-image: url("../img/GOTM_GatorGold_385x190.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 16px 12px;
  box-sizing: border-box;
}

.game__big-button {
  border-radius: 12px;
  border: none;
  background: var(--brand-blue);
  color: var(--white);
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 10px;
  padding: 5px 13px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.game__big-button:hover {
  background-color: var(--brand-pink);
}

.game__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game__slogans {
  display: flex;
  flex-direction: column;
}

.game__promo-img {
  border-radius: 16px;
  width: 512px;
  height: 120px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom__block {
  display: flex;
  flex-direction: column;
  padding-top: 57px;
}

.bottom__title {
  color: rgb(255, 255, 255);
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 36px;
  text-transform: capitalize;
}

.bottom__info {
  color: var(--white);
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
}

.bottom__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 25px;
}

.bottom__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
}

.bottom__button {
  width: 124px;
  height: 36px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 16px 0 rgba(138, 97, 255, 0.6);
  background: var(--brand-gradient);
  color: var(--white);
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 18px;
  background-size: 300% 100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, var(--brand-pink), var(--brand-blue), var(--brand-blue), var(--brand-pink));
}

.bottom__button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.bottom__button:focus {
  outline: none;
}

.input__name, .input__email {
  width: 400px;
  height: 44px;
  border-radius: 8px;
  border: none;
  box-sizing: content-box;
  color: gray;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
  padding-left: 13px;
}

.input__name::-moz-placeholder, .input__email::-moz-placeholder {
  color: gray;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
}

.input__name::placeholder, .input__email::placeholder {
  color: gray;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
}

.input__textarea {
  width: 413px;
  height: 128px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  color: gray;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
  padding: 13px;
}

.input__textarea::-moz-placeholder {
  color: gray;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
}

.input__textarea::placeholder {
  color: gray;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
}

.footer {
  background-color: var(--black);
  padding: 14px calc(50% - 520px);
}

.footer__links {
  color: var(--white);
  text-decoration: none;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 18px;
  text-align: center;
  padding-bottom: 17px;
}

.footer__attention {
  color: var(--white);
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  text-align: center;
}

.footer__line {
  margin: 24px 0;
  background: var(--white);
  opacity: 0.1;
  height: 1px;
}

.footer__block {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  color: var(--white);
  font-family: "Proxima Nova Light", sans-serif;
  font-size: 14px;
}

.footer__medias {
  display: flex;
  gap: 13px;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 14px calc(50% - 450px);
  }

  .header__info {
    gap: 44px;
  }

  .header__nav {
    gap: 26px;
  }

  .main__heading {
    padding-top: 44px;
  }

  .main__slogan {
    padding-bottom: 20px;
  }

  .main__buttons {
    padding-bottom: 50px;
  }

  .main__form {
    width: 800px;
  }

  .form__desc {
    gap: 14px;
  }

  .form__middle {
    gap: 16px;
  }

  .form__input {
    width: 200px;
  }

  .email {
    width: 220px;
  }

  .center__wrapper {
    padding: 0 calc(50% - 450px);
  }

  .center__block {
    padding: 54px calc(50% - 450px) 24px calc(50% - 450px);
  }

  .center__space {
    -moz-column-gap: 10px;
    column-gap: 10px;
  }

  .center__attention {
    font-size: 12px;
    padding-top: 20px;
  }

  .div1,
  .div2,
  .div3 {
    gap: 10px;
  }

  .div4,
  .div5 {
    gap: 10px;
  }

  .game__img {
    width: 140px;
    height: 100px;
    padding-bottom: 3px;
  }

  .game__big-1 {
    width: 220px;
    height: 135px;
    padding: 10px 12px;
  }

  .game__big-2 {
    width: 220px;
    height: 135px;
    padding: 10px 12px;
  }

  .game__big-button {
    font-size: 8px;
    padding: 5px 10px;
  }

  .game__title {
    font-size: 14px;
  }

  .game__dev {
    font-size: 10px;
  }

  .game__promo-img {
    padding-bottom: 3px;
    width: 450px;
    height: 100px;
  }

  .bottom {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
  }

  .footer {
    padding: 14px calc(50% - 450px);
  }

  .footer__links {
    font-size: 16px;
  }

  .footer__attention {
    font-size: 12px;
  }

  .footer__text {
    font-size: 12px;
  }
}

@media screen and (max-width: 920px) {
  .header {
    padding: 14px 15px;
  }

  .header__info {
    gap: 32px;
  }

  .header__nav {
    gap: 18px;
  }

  .header__items, .header__text {
    font-size: 14px;
  }

  .header__signup {
    gap: 14px;
  }

  .header__button {
    width: 100px;
    height: 35px;
  }

  .main__top {
    padding: 0 15px;
  }

  .main__heading {
    padding-top: 40px;
    font-size: 36px;
    padding-bottom: 6px;
  }

  .main__slogan {
    font-size: 18px;
    padding-bottom: 20px;
  }

  .main__buttons {
    gap: 14px;
    padding-bottom: 39px;
  }

  .main__form {
    gap: 10px;
    width: 738px;
    height: 140px;
    padding: 16px;
  }

  .main__account {
    font-size: 18px;
  }

  .button__login, .button__play {
    width: 140px;
    height: 40px;
    font-size: 14px;
  }

  .button__join {
    height: 35px;
    font-size: 14px;
  }

  .form__desc {
    gap: 16px;
  }

  .form__input {
    height: 35px;
  }

  .form__input::-moz-placeholder {
    font-size: 12px;
    padding: 13px;
  }

  .form__input::placeholder {
    font-size: 12px;
    padding: 13px;
  }

  .form__privacy {
    display: flex;
    gap: 8px;
  }

  .form__acception {
    font-size: 12px;
  }

  .form__checkbox+label::before {
    width: 12px;
    height: 12px;
  }

  .center__wrapper {
    padding: 0 15px;
    height: 1200px;
  }

  .center__block {
    padding: 35px calc(50% - 256px) 20px calc(50% - 256px);
  }

  .center__heading {
    font-size: 28px;
  }

  .center__title {
    gap: 3px;
  }

  .center__welcome, .center__link {
    font-size: 14px;
  }

  .center__space {
    justify-content: center;
    row-gap: 16px;
  }

  .center__attention {
    font-size: 12px;
    padding-top: 0px;
    max-width: 512px;
  }

  .game__img {
    width: 160px;
    height: 120px;
    padding-bottom: 6px;
  }

  .game__title {
    font-size: 16px;
  }

  .game__dev {
    font-size: 12px;
  }

  .game__desc {
    font-size: 10px;
    width: 162px;
    padding-bottom: 16px;
  }

  .game__big-1, .game__big-2 {
    width: 248px;
    height: 160px;
    padding: 16px 12px;
  }

  .game__big-button {
    font-size: 10px;
    padding: 5px 13px;
  }

  .game__promo-img {
    width: 512px;
    height: 120px;
  }

  .bottom {
    justify-content: center;
  }

  .bottom__block {
    padding-top: 0px;
  }

  .bottom__title {
    font-size: 28px;
  }

  .bottom__info {
    font-size: 14px;
  }

  .bottom__inputs {
    gap: 14px;
    padding-top: 20px;
  }

  .bottom__button {
    font-size: 14px;
    width: 124px;
    height: 30px;
  }

  .bottom__image {
    display: none;
  }

  .footer {
    padding: 14px 15px;
  }

  .footer__links {
    font-size: 14px;
  }

  .footer__attention, .footer__text {
    font-size: 12px;
  }

  .footer__line {
    margin: 20px 0;
  }
}

@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

@media screen and (max-width: 768px) {

  .loader {
    padding-top: 200px;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .header__container {
    display: flex;
    gap: 36px;
  }

  .header__text {
    display: none;
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 1em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu>li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu>li>a {
    text-decoration: none;
    color: var(--white);
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 16px;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 76px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    z-index: 10;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    display: flex;
    align-items: center;
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: var(--black);
    text-decoration: none;
    color: var(--white);
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 16px;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .main__form {
    gap: 12px;
    width: 500px;
    height: 236px;
    padding: 16px;
  }

  .form__top {
    flex-direction: column;
    row-gap: 10px;
  }

  .form__desc {
    display: flex;
    gap: 24px;
  }

  .form__about {
    gap: 6px;
    font-size: 12px;
  }

  .form__middle {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .form__input {
    width: 200px;
    height: 40px;
  }

  .form__input::-moz-placeholder {
    font-size: 14px;
  }

  .form__input::placeholder {
    font-size: 14px;
  }

  .form__privacy {
    justify-content: center;
  }

  .form__acception {
    font-size: 12px;
  }

  .email {
    width: 200px;
  }

  .button__join {
    width: 213px;
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (max-width: 534px) {
  .loader {
    padding-top: 150px;
  }

  .header__container {
    gap: 18px;
  }

  .main__heading {
    padding-top: 30px;
    font-size: 24px;
    padding-bottom: 6px;
  }

  .main__slogan {
    font-size: 14px;
    padding-bottom: 16px;
  }

  .main__buttons {
    gap: 12px;
    padding-bottom: 30px;
  }

  .main__form {
    gap: 10px;
    width: 300px;
    height: 300px;
    padding: 12px;
  }

  .main__account {
    font-size: 16px;
  }

  .button__login, .button__play {
    width: 140px;
    height: 40px;
    font-size: 14px;
  }

  .button__join {
    height: 35px;
    font-size: 14px;
  }

  .form__top {
    row-gap: 6px;
  }

  .form__desc, .form__middle {
    gap: 10px;
  }

  .form__about {
    font-size: 8px;
  }

  .form__img {
    width: 30px;
    height: 30px;
  }

  .form__input {
    width: 200px;
    height: 35px;
  }

  .form__input::-moz-placeholder {
    font-size: 12px;
  }

  .form__input::placeholder {
    font-size: 12px;
  }

  .form__acception {
    font-size: 10px;
  }

  .email {
    width: 200px;
  }

  .center__wrapper {
    padding: 0 15px;
    height: 1400px;
  }

  .center__block {
    padding: 35px 15px 20px 15px;
  }

  .center__heading {
    font-size: 24px;
  }

  .center__title {
    gap: 3px;
  }

  .center__welcome, .center__link {
    font-size: 12px;
  }

  .center__space {
    -moz-column-gap: 10px;
    column-gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .center__attention {
    font-size: 10px;
    max-width: 290px;
  }

  .div1,
  .div2,
  .div3,
  .div5 {
    flex-direction: column;
  }

  .div4 {
    flex-direction: row;
  }

  .game__img {
    width: 140px;
    height: 100px;
    padding-bottom: 3px;
  }

  .game__title {
    font-size: 14px;
  }

  .game__dev {
    font-size: 10px;
  }

  .game__desc {
    font-size: 12px;
    width: 170px;
    padding-top: 8px;
    padding-bottom: 16px;
  }

  .game__big-1, .game__big-2 {
    width: 290px;
    height: 183px;
    padding: 18px 14px;
  }

  .game__big-button {
    font-size: 12px;
    padding: 6px 14px;
  }

  .game__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .game__slogans {
    display: flex;
    flex-direction: column;
  }

  .game__promo-img {
    border-radius: 16px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 290px;
    height: 100px;
    -o-object-position: left center;
    object-position: left center;
  }

  .bottom__title {
    font-size: 28px;
  }

  .bottom__info {
    font-size: 12px;
  }

  .bottom__button {
    font-size: 14px;
  }

  .input__name, .input__email {
    width: 290px;
    height: 35px;
  }

  .input__name::-moz-placeholder, .input__email::-moz-placeholder {
    font-size: 12px;
  }

  .input__name::placeholder, .input__email::placeholder {
    font-size: 12px;
  }

  .input__textarea {
    width: 303px;
    height: 90px;
  }

  .input__textarea::-moz-placeholder {
    font-size: 12px;
  }

  .input__textarea::placeholder {
    font-size: 12px;
  }

  .footer {
    padding: 14px 15px;
  }

  .footer__links {
    font-size: 14px;
    padding-bottom: 15px;
  }

  .footer__attention {
    font-size: 10px;
  }

  .footer__text {
    font-size: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */